      <!-- start banner Area -->
      <section class="banner-area relative about-banner" id="home"> 
        <div class="overlay overlay-bg"></div>
        <div class="container">       
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Create Quiz
              </h1> 
              <p class="text-white link-nav"><%= link_to 'Home', root_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Create Quiz', new_instructor_quiz_path %></p>
            </div>  
          </div>
        </div>
      </section>  
      <!-- End banner Area -->

<!-- Start course-details Area -->
      <section class="section-top-border pt-100">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <%= render 'layouts/messages' %>
              <h2>Create Quiz</h2>

				      <%= render 'form', quiz: @quiz %>

            </div>
          </div>
        </div>  
      </section>

      <!-- Start popular-courses Area --> 
      <section class="popular-courses-area section-gap courses-page">
      </section>
      <!-- End popular-courses Area -->         

      <!-- Start cta-two Area -->
      <section class="cta-two-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 cta-left">
              <h1>Not Yet Satisfied with our Trend?</h1>
            </div>
            <div class="col-lg-4 cta-right">
              <a class="primary-btn wh" href="#">view our blog</a>
            </div>
          </div>
        </div>  
      </section>
      <!-- End cta-two Area -->                     
